/////////////////////////////
/////////main section style//
//////////////////////////////////////////////////////////
main{
    background-color: var(--color-dark-Blue2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}